body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(batikcover.png);    
}

nav a{
    color: #fff202;
}

.list {
    list-style-image: url('hibiscus.png')
}

.current {
    color: rgb(91, 218, 240);
}

main h3 {
    color: rgb(0, 251, 255);
    font-weight: bold;
}

.flag {
    background: url(flag.png) no-repeat top right;
}