body{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: url('airship.png') #2222dd;
}

header{
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(smallPlane.png);
}
nav a{
    color: #f65376;
}
.current{
    color: #bbb;
}
.list{
    list-style-type: circle;
}