main p{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
}

footer p{
    color: rgba(0, 0, 0, 0.399);
}

header h1{
    color: blue;
}

main h2{
    color: brown;
}