body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background-color: rgb(255, 221, 154);
    padding: 5px;
    display: grid;
    /* display: flex; */
    grid-template-columns: 5fr 20fr 5fr;
    grid-template-areas:
        "header header header"
        "navigation navigation navigation"
        "left main right"
        "footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
    row-gap: 10px;
    background-color: rgb(255, 238, 0);
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.mainBox {
    background-color: rgb(252, 154, 62);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemA {
    grid-area: topMain;
}

.itemB {
    grid-area: headerMid;
}

.itemC {
    grid-area: headerTop;
}

.itemD {
    grid-area: midMain;
}

.itemE {
    grid-area: botMain;
}

.itemF {
    grid-area: headerBot;
}