body {
    background-color: rgb(10, 21, 41);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

header {
    grid-area: header;
    font-size: larger;
}

#mainParagraph {
    font-size: larger;
    font-weight: bolder;
}

#figureWrapper {
    display: flex;
    flex-flow: column;
}

.mainImage img {
    width: 50%;
    margin: auto;
    border: solid thick rgb(160, 142, 88);
    border-radius: 20px;
}

.classLayout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header header header"
    "Nav Nav Nav Nav"
    "leftCol main main main"
    "footer footer footer footer"
}

.leftSide {
    grid-area: leftCol;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    border: thin solid white;
    border-radius: 30px;
    padding: 10px;
}

.leftSide h3 {
    color:rgb(160, 142, 88);
    text-decoration: underline;
}

.leftSide p {
    font-style: italic;
    font-weight: lighter;
    font-size: larger;
}

.leftSide img {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}

.articlePhoto { grid-area: main;}

.singleArticle {
    border: solid thin white;
    border-radius: 30px;
    margin-left: 25px;
    width: 200px;
    padding: 15px;
    font-weight: lighter;
    font-size: small;
}

.singleArticle img {
    width: 150px;
    height: 150px;
    border: solid thick rgb(160, 142, 88);
    border-radius: 30px;
}

.singleArticle p {font-style: italic; font-size: medium;}

.singleArticle h4 {
    background-color: rgb(160, 142, 88);
    border-radius: 30px;
    color: rgb(21, 30, 57);
    font-size: larger;
    padding: 5px;
}

.singleArticle li {
    text-align: left;
    font-size: larger;
}

.singleArticle figure {margin: auto;}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    margin-top: 30px;
}


h2 {
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
}

p a {
    color: rgb(160, 142, 88);
    text-decoration: none;
}

p a:hover {
    color: rgb(93, 220, 242);
    text-decoration: underline;
}

nav {
    display: flex;
    grid-area: Nav;
    background-color: rgb(21, 30, 57);
    justify-content: space-around;
    border: solid;
    border-radius:30px;
    border-color: rgb(45, 66, 132);
    padding: 10px;
    margin:10px 0;
}

nav a {
    display:block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    margin:10px 0;
}

nav a:hover {
    color: rgb(160, 142, 88);
}

.currentPage {
    text-decoration: underline;
    color: rgb(248, 204, 70);
}

caption {
    font-size: large;
    font-weight: bolder;
    padding: 15px;
    color: rgb(10, 21, 41);
    background-color: rgb(160, 142, 88);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 30px;
}

#videoWidth {width: 500px;}
iframe {border: solid thick rgb(160, 142, 88); border-radius: 30px;}

.tableClass thead {
    font-size: large;
    border: thin solid rgb(160, 142, 88);
}

.tableClass tbody,tfoot {
    border: thin solid rgb(160, 142, 88);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tableClass td,th {
    padding: 10px;
    border: thin solid rgb(160, 142, 88);
}

.tableClass a {
    text-decoration: none;
    font-size: large;
    color:rgb(160, 142, 88);
}

.tableClass a:hover {
    color: rgb(93, 220, 242);
    text-decoration: underline;
}

.tableCenter {
    display: flex;
    flex-direction: column;
}

.clear{
    clear:both;
}

.mainP {
    font-size: larger;
    font-weight:bolder;
    font-style: italic;
    margin-right: 10px;
    padding: 10px;
}

.temples {
    display: flex;
    flex-direction: column;
    float: left;
}

.articleClass {
    border: thin solid rgb(160, 142, 88);
    font-style: italic;
    font-weight: bolder;
} 

footer {
    display: flex;
    justify-content: space-around;
    color: rgb(160, 142, 88);
    padding: 20px;
}

legend {
    padding: 10px;
    font-size: larger;
    border-radius: 30px;
    background-color:rgb(160, 142, 88);
    color:rgb(21, 30, 57);
}

fieldset {
    border: thin solid rgb(45, 66, 132);
    background-color: rgb(20, 29, 56);
    border-radius: 30px;
}

fieldset h3 {
    border: solid thin;
    background-color:rgb(160, 142, 88);
    color:rgb(21, 30, 57);
    padding: 10px;
    font-size: larger;
    border-radius: 30px;
}

.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 100px;
    text-align: right;
}

input:not([type='submit']), select, textarea {
    font-size: 1em;
    border-radius: 5px;
    border: solid thin rgb(160, 142, 88);
    background-color: rgb(255, 255, 255);
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    background-color: rgb(255, 255, 255);
}

input[type = 'submit'] {
    background-color: rgb(160, 142, 88);
    padding: 5px 20px;
    color: rgb(21, 30, 57);
    font-size: large;
    font-weight: bolder;
    border: solid thin rgb(229, 255, 0);
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    .form-row, .check-row{
        flex-direction: column;
        text-align: center;
    }

    .form-row label{
        text-align: left;
    }

    .spacer{
        text-align: left;
    }

    input:not([type='submit']), select, textarea {
        padding: 10px;
    }

    #videoWidth {
        width: 100%;
    }

    .leftSide {
        grid-area: footer;
    }

    .container {
        display: block;
        margin: 0px;
    }

    .singleArticle {
        display: flex;
        flex-flow: column;
        margin: auto;
        margin-top: 15px ;
    }

    .mainImage img {
        width: 90%;
        margin: auto;
    }
}