body {
    background-color: rgb(10, 21, 41);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.classLayout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "header header header header"
    "Nav Nav Nav Nav"
    "leftCol main main main"
    "footer footer footer footer"
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
}

p a {
    color: rgb(160, 142, 88);
    text-decoration: none;
}

p a:hover {
    color: rgb(93, 220, 242);
    text-decoration: underline;
}

nav {
    background-color: rgb(21, 30, 57);
    justify-content: space-around;
    display: flex;
    border: solid;
    border-radius:30px;
    border-color: rgb(45, 66, 132);
    padding: 10px;
    margin:10px 0;
}

nav a {
    display:block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    margin:10px 0;
}

nav a:hover {
    color: rgb(160, 142, 88);
}

.currentPage {
    text-decoration: underline;
}

@media only screen and (max-width: 750px) {
    nav {
        flex-direction: column;
    }
}

caption {
    font-size: large;
    font-weight: bolder;
    padding: 15px;
    color: rgb(10, 21, 41);
    background-color: rgb(160, 142, 88);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 30px;
}

iframe {
    border: solid thick rgb(160, 142, 88);
    border-radius: 30px;
}

.tableClass thead {
    font-size: large;
    border: thin solid rgb(160, 142, 88);
}

.tableClass tbody,tfoot {
    border: thin solid rgb(160, 142, 88);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tableClass td,th {
    padding: 10px;
    border: thin solid rgb(160, 142, 88);
}

.tableClass a {
    text-decoration: none;
    font-size: large;
    color:rgb(160, 142, 88);
}

.tableClass a:hover {
    color: rgb(93, 220, 242);
    text-decoration: underline;
}

.clear{
    clear:both;
}

.mainP {
    font-size: larger;
    font-weight:bolder;
    font-style: italic;
    margin-right: 10px;
    padding: 10px;
}

.temples {
    display: flex;
    flex-direction: column;
    float: left;
}

.articleClass {
    border: thin solid rgb(160, 142, 88);
    font-style: italic;
    font-weight: bolder;
}

#pic{
    width: 500px;
    border: thick solid rgb(160, 142, 88);
    float: left;
}

#pic img {
    width: 500px;  
}


footer {
    float: left;
    font-style: italic;
    margin: 10px 0;
}


