body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #170063;
    background-color: #fbfbff;
    font-size: large;
}

body h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #170063
}

body h2 {
   color: #c67409;
}

.emphasize {
    color: #c67409;
}

.deemphasize {
    color: #5f2fbd;
}

#main-cast{
    color: #4a21ff;
}